<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/#/" class="navbar-brand">Infinite EPG</a>
      <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="collapse navbar-collapse">
    
      <form ng-show="navvm.isLoggedIn" class="navbar-form navbar-right">
        <div class="form-group has-feedback">
          <input style="width: 300px" type="text" class="form-control form-control" placeholder="search for video content" ng-model="navvm.searchTerm" uib-typeahead="suggestion.name for suggestion in navvm.getSuggestions($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="navvm.goToSearchTerm($item, $model, $label, $event)"/>
          <i ng-hide="loadingLocations" class="glyphicon glyphicon-search form-control-feedback"></i>
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh form-control-feedback"></i>
        </div>
        <div ng-show="noResults" class="text-warning">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
          
        
      </form>
      <ul class="nav navbar-nav navbar-right">  
        <li ng-hide="navvm.isLoggedIn"><a href="/#login/?page={{navvm.currentPath()}}" data-toggle="collapse" data-target=".navbar-collapse">Login</a></li>
        <li ng-show="navvm.isLoggedIn" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user" ng-class="navvm.pinChecked?'text-success':'text-danger'"></i> <small>({{navvm.getTokenLeftTime()}} left)</small>  <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
           <li class="dropdown-header">{{navvm.currentUser.client_id}}</li>
            <li ><a href="/#channels" >C<u>h</u>annels Screen</a></li>
            <li ><a href="/#categories" >C<u>a</u>tegories Screen</a></li>
            <li ><a href="/#agg/grid" ><u>G</u>rid Screen</a></li>
            <li ><a href="/#agg/content" ><u>C</u>ontent Screen</a></li>
            <li ><a href="/#settings" ><u>S</u>ettings</a></li>
            <li ><a href="/#video" >Back to <u>V</u>ideo</a></li>
            <li ><a ng-click="navvm.showPin()" href="" ><span ng-class="navvm.pinChecked?'text-success':'text-danger'">Check your Pin</span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="navvm.logout()" data-toggle="collapse" data-target=".navbar-collapse">Logout</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-globe"></i> {{navvm.currentSandbox.name}} <small><em>{{navvm.currentSandbox.proxy?"(CORS)":""}}</em></small> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
             <li class="dropdown-header">Available Sandboxes</li>
            <li ng-repeat="sandbox in navvm.sandboxes" ><a ng-click="navvm.selectSandbox(sandbox)" >{{sandbox.name}} <small><em>{{sandbox.proxy?"(CORS)":""}}</em></small></a></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</div>