<div class="container-fluid">
  
  <div class="page-header">
    <h1>
    {{vm.category.name}}
    <small>{{vm.category.type}}&nbsp;&nbsp;{{vm.category.id}}</small></h1>
  </div>

  <div role="alert" ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
    
      <div class="list-group-item" ng-repeat="subCat in vm.category.categories">

          <h4 class="list-group-item-heading">{{subCat.name}}</h4>
          <h5 ><small>Type</small>&nbsp;{{subCat.type}}  </h5>
          
          <p><small>ID</small> <strong>{{subCat.id}}</strong></p>
          <p><strong>Adult?</strong> {{subCat.isAdult}} &nbsp;&nbsp;   <strong>Leaf?</strong> {{subCat.leaf}}</p>
          links: 
          <ul class="list-unstyled">
            <li ng-repeat="(key, value) in subCat._links">
              <a   ng-href="/#{{value.href}}">{{key}}</a>
            </li>
          </ul>
  
      </div>
      <div class="lead" ng-show="vm.category.categories.length ===0">No SubCategories found for the {{vm.category.name}} Category</div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p class="lead">This screens display all the information from a dedicated category
      </p>

      
      <button ng-show="vm.rawData" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Show Raw JSON</button>
      <p></p>
      <div id="demo" class="collapse">
        <pre>
          {{vm.rawData | json}}
        </pre>
      </div>
    </div>
    

  </div>
</div>
